:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.login-container h1.ant-typography {
  margin-top: 0px !important;
}
* {
  margin: 0;
  padding: 0;
}
.fullScreenLoader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}
.token-expired-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(175, 11, 11);
}
#register-form #name::placeholder {
  color: #c5c4c4 !important; /* Light gray placeholder color */
}
.phone-input-container input.form-control{
  width: 100% !important;
}
.create-page-bottom-fields-container{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.create-page-bottom-fields-container .ant-form-item{
  width: 100% !important;
}
.services-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.tags-in-vIf{
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 10px;
}